<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../../static/assets/script.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
    </style>
    <link rel="icon" href="../../static/images/prototype-logo/Favicon-Logo-KagayakuVerse-White-Black.png" type="image/png" class="iconnn">
    <title>KagayakuVerse | Call OF Duty Mobile</title>
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav class="navbar">
            <a href="../../index.html" class="logo">
                <img src="../../static/images/prototype-logo/KagayakuVerse-Logo-Navbar-Main.png" alt="KagayakuVerse" height="70">
            </a>
            <ul class="content-navbar">
                <li>
                    <a href="../../index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="../reseller.html">Reseller</a>
                </li>
                <li>
                    <a href="../contact-me.html">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Navbar END -->

    <!-- Content Website -->    
    <div id="content-in-content">
        <aside class="">
            <div >
                <img src="../../static/images/Call-Of-Duty-COD-Mobile-Package/Aside-Banner-Call-Of-Duty-Mobile.webp" alt="" class="aside-banner" style="max-width: 550px; height: 238px;">
                <p style="font-weight: bold;">CALL OF DUTY MOBILE</p>
            </div>
            <br>
            <p>KagayakuVerse menawarkan top up Call Of Duty MOBILE yang mudah, aman, dan instan.</p>

            <p>Pembayaran tersedia melalui GoPay, OVO, DANA, ShopeePay, dan Bank Transfer</p>

            <p>KagayakuVerse adalah sebuah platform e-commerce yang menyediakan berbagai produk pulsa, token listrik, dan kredit game untuk berbagai penyedia layanan sebagai kebutuhan sehari hari di Indonesia. <br> Dengan tampilan yang menarik dan navigasi yang mudah, KagayakuVerse memudahkan pengunjung untuk menemukan dan membeli pulsa dari berbagai operator dan TopUp berbagai game</p>
        </aside>
        <div class="main-content">
            <fieldset class="syarat">
                <legend class="angka">1</legend>
                <span class="syarat-judul">Masukkan ID</span> <br><br>
                <div class="syarat-ML">
                    <input type="number" name="idML" id="idML" placeholder="UID">
                    <!-- <input type="number" name="serverML" id="serverML" placeholder="(               Server              )" > -->

                    <!--  hover untuk tutorial melihat id dan server ml -->
                    <div class="tooltip-container">
                        <span class="tooltip">?</span>
                        <div class="tooltip-image-long">
                            <img src="../../static/images/Call-Of-Duty-COD-Mobile-Package/Tips-See-UID-Call-Of-Duty-Mobile.png" alt="Tooltip Image" >
                        </div>

                    </div>
                </div>
                <div class="syarat-caption-MLBB">
                    <figcaption class="">
                        Untuk menemukan PlayerID Anda, klik ikon 'settings' yang terletak di sebelah kanan layar dan klik tab 'LEGAL AND PRIVCY', Anda dapat menemukan PlayerID Anda di sini.
                        <br>
                        Silakan masukkan User ID Anda untuk menyelesaikan transaksi.
                    </figcaption>
                </div>
               
            </fieldset>
            <br>
            <fieldset class="harga">
                <legend class="angka">2</legend>
                <div class="syarat-judul">Pilih Nominal </div> 
                <p class="special-items-text">CP</p>
                <div class="card"> 
                    <div class="border-pulsa">
                        <div class="nominal-pulsa product-list-activate">26 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 4,800</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">53 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 9,190</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">106 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 18,280</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">264 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 45,550</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">528 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 92,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1056 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 184,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1584 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 279,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">2640 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 450,900</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">5280 CP</div>
                        <img class="logo-game" src="../../static/images/Call-Of-Duty-COD-Mobile-Package/CP-Coins-COD-Call-Of-Duty-Mobile.png" alt="Free Fire Diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 904,400</div> 
                    </div>
                </div>
            </fieldset> 
            <br>
            <fieldset class="fieldset-method-payment">
                <legend class="angka">3</legend>
                <div class="syarat-judul">Metode Pembayaran</div> 
                <div class="payment-method-parent">
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Dana-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan DANA</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 4,500</p>
                            <p class="payment-method-child-price-discount">Rp. 4,800</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Gopay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan GOPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 4,500</p>
                            <p class="payment-method-child-price-discount">Rp. 4,800</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/shopeepay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SHOPEEPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 4,500</p>
                            <p class="payment-method-child-price-discount">Rp. 4,800</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/OVO-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan OVO</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 4,500</p>
                            <p class="payment-method-child-price-discount">Rp. 4,800</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/SeaBank-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SEABANK</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 4,500</p>
                            <p class="payment-method-child-price-discount">Rp. 4,800</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Bank-Transfer-Icons-Payment.png" alt="Pembayaran Dana" style="margin-top: -10px; margin-left: 10px;" width="100" height="90">
                            <p class="payment-method-child-description" style="margin-top: -20px;">beli dengan Transfer Bank</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 4,500</p>
                            <p class="payment-method-child-price-discount">Rp. 4,800</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset class="">
                <legend class="angka">4</legend>
                <div class="syarat-judul">Beli!</div>
                <p class="advice-to-get-invoice"><b style="color: var(--font-harga-color);">OPSIONAL</b> jika anda ingin mendaptkan invoice pembelian Masukkan email anda</p>
                <input type="email" name="buying-email" id="buying-email" placeholder="email anda">
                <label class="update-information-parent">
                    <input type="checkbox" name="name" id="update-information">
                    <div class="normal-plaintext" style="cursor: pointer;">setuju untuk menerima update dari KagayakuVerse</div> 
                </label>
                <br>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div class="normal-plaintext"><b>&bull;</b> 26 CP</div>
                        <div class="bigger-plaintext">Rp. 4,500</div>
                        <div class="little-plaintext-information">belum termasuk pajak</div>
                    </div>
                    <div class="button-buy">
                        <a href="">beli sekarang</a>
                    </div>
                    <div>
                        <img src="../../static/images/Bonus-Or-Troll-Package/Anime-Kohane-Cheer-You-Up.gif" alt="anime girl cheer you up" class="cheering-up-to-buy-gif">
                    </div>
                </div>
                <h4 style="color: var(--font-color); margin-top: -30px; font-family: BARABARA-FINAL; color: var(--font-harga-color);" >#INI MASIH TAHAP DEVELOPMENT</h4>
            </fieldset>
        </div>
        
    </div>
    <!-- Content END -->
</body>
</html>