<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../../static/assets/script.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
    </style>
    <link rel="icon" href="../../static/images/prototype-logo/Favicon-Logo-KagayakuVerse-White-Black.png" type="image/png" class="iconnn">
    <title>KagayakuVerse | Mobile Legends</title>
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav class="navbar">
            <a href="../../index.html" class="logo">
                <img src="../../static/images/prototype-logo/KagayakuVerse-Logo-Navbar-Main.png" alt="KagayakuVerse" height="70">
            </a>
            <ul class="content-navbar">
                <li>
                    <a href="../../index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="../reseller.html">Reseller</a>
                </li>
                <li>
                    <a href="../contact-me.html">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Navbar END -->

    <!-- Content Website -->    
    <div id="content-in-content">
        <aside class="">
            <div >
                <img src="../../static/images/banner.png" alt="" class="aside-banner">
                <p style="font-weight: bold;">MOBILE LEGEND</p>
            </div>
            <br>
            <p>KagayakuVerse menawarkan top up Mobile Legends yang mudah, aman, dan instan.</p>

            <p>Pembayaran tersedia melalui GoPay, OVO, DANA, ShopeePay, dan Bank Transfer</p>

            <p>Top up ML Diamond, Twilight Pass, Weekly Diamond Pass (WDP), dan Starlight hanya dalam hitungan detik! Cukup masukkan User ID dan Zone ID MLBB Anda, pilih jumlah Diamond yang Anda inginkan, selesaikan pembayaran, dan Diamond akan secara langsung ditambahkan ke akun Mobile Legends Anda. </p>

            <p>KagayakuVerse adalah sebuah platform e-commerce yang menyediakan berbagai produk pulsa, token listrik, dan kredit game untuk berbagai penyedia layanan sebagai kebutuhan sehari hari di Indonesia. <br> Dengan tampilan yang menarik dan navigasi yang mudah, KagayakuVerse memudahkan pengunjung untuk menemukan dan membeli pulsa dari berbagai operator dan TopUp berbagai game</p>
        </aside>
        <div class="main-content">
            <fieldset class="syarat">
                <legend class="angka">1</legend>
                <span class="syarat-judul">Masukkan ID dan Server</span> <br><br>
                <div class="syarat-ML">
                    <input type="number" name="idML" id="idML" placeholder="ID">
                    <input type="number" name="serverML" id="serverML" placeholder="(               Server              )" >

                    <!--  hover untuk tutorial melihat id dan server ml -->
                    <div class="tooltip-container">
                        <span class="tooltip">?</span>
                        <div class="tooltip-image">
                            <img src="../../static/images/Mobile-Legend-Package/Tips-See-UID-Mobile-Legend.png" alt="Tooltip Image">
                        </div>
                    </div>
                </div>
                <div class="syarat-caption-MLBB">
                    <figcaption class="">
                        Untuk mengetahui User ID Anda, silakan klik menu profile dibagian kiri atas pada menu
                        utama game. User ID akan terlihat dibagian bawah Nama Karakter Game Anda.
                        <br>
                        Silakan masukkan User ID Anda untuk menyelesaikan transaksi. Contoh : 12345678(1234)
                    </figcaption>
                </div>
               
            </fieldset>
            <br>
            <fieldset class="harga">
                <legend class="angka">2</legend>
                <div class="syarat-judul">Pilih Nominal Diamond </div> 
                <p class="special-items-text" style="margin-bottom: -20px;">Other</p>
                <div class="special-items"> 
                    <div class="border-special-items">
                        <div class="nominal-pulsa">1x Weekly Diamond Pass</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Weekly-Diamond-Pass-Mobile-Legend.png" alt="WDP" width="50" height="50" >
                        <div class="harga-pulsa">Rp. 25,271</div> 
                    </div>
                    <div class="border-special-items">
                        <div class="nominal-pulsa">Twillight Pass</div>
                        <img src="../../static/images/Mobile-Legend-Package/Miya-Suzuhime-Twillight-Pass-Mobile-Legend.png" alt="Twilight Pass"  height="80" style="display: block; margin: auto;" >
                        <div class="harga-pulsa">Rp. 138,552</div> 
                    </div>
                </div>
                <br>
                <p class="special-items-text">Diamonds</p>
                <div class="card"> 
                    <div class="border-pulsa product-list-activate">
                        <div class="nominal-pulsa">3 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 1,102</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">5 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 1,440</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">12 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 3,313</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">14 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 3,817</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">19 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 5,246</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">28 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 7,403</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">36 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 9,418</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">42 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 11,229</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">44 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 11,409</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">59 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 14,764</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">70 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 17,949</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">86 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 20,280</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">140 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 36,541</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">172 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 40,685</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">257 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 40,685</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">280 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 68,056</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">344 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 81,743</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">429 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 102,072</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">514 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 122,621</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">600 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 140,876</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">706 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 161,207</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">792 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 161,207</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">878 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 205,689</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">963 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 224,433</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1050 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 243,303</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1220 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 281,831</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1412 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 326,536</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">2195 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 499,669</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">2901 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 663,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">3073 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 709,198</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">3688 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 823,016</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">5532 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 1,241,260</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">7727 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 1,736,221</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">9288 Diamond</div>
                        <img class="logo-game" src="../../static/images/Mobile-Legend-Package/Diamond-Icon-Mobile-Legend.png" alt="mlbb-diamond" width="50" height="50">
                        <div class="harga-pulsa">Rp. 2,065,715</div> 
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset class="fieldset-method-payment">
                <legend class="angka">3</legend>
                <div class="syarat-judul">Metode Pembayaran</div> 
                <div class="payment-method-parent">
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Dana-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan DANA</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 1,050</p>
                            <p class="payment-method-child-price-discount">Rp. 1,102</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Gopay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan GOPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 1,050</p>
                            <p class="payment-method-child-price-discount">Rp. 1,102</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/shopeepay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SHOPEEPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 1,050</p>
                            <p class="payment-method-child-price-discount">Rp. 1,102</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/OVO-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan OVO</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 1,050</p>
                            <p class="payment-method-child-price-discount">Rp. 1,102</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/SeaBank-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SEABANK</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 1,050</p>
                            <p class="payment-method-child-price-discount">Rp. 1,102</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Bank-Transfer-Icons-Payment.png" alt="Pembayaran Dana" style="margin-top: -10px; margin-left: 10px;" width="100" height="90">
                            <p class="payment-method-child-description" style="margin-top: -20px;">beli dengan Transfer Bank</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 1,050</p>
                            <p class="payment-method-child-price-discount">Rp. 1,102</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset class="">
                <legend class="angka">4</legend>
                <div class="syarat-judul">Beli!</div>
                <p class="advice-to-get-invoice"><b style="color: var(--font-harga-color);">OPSIONAL</b> jika anda ingin mendaptkan invoice pembelian Masukkan email anda</p>
                <input type="email" name="buying-email" id="buying-email" placeholder="email anda">
                <label class="update-information-parent">
                    <input type="checkbox" name="name" id="update-information">
                    <div class="normal-plaintext" style="cursor: pointer;">setuju untuk menerima update dari KagayakuVerse</div> 
                </label>
                <br>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div class="normal-plaintext"><b>&bull;</b> 3 Diamond</div>
                        <div class="bigger-plaintext">Rp. 1,050</div>
                        <div class="little-plaintext-information">belum termasuk pajak</div>
                    </div>
                    <div class="button-buy">
                        <a href="">beli sekarang</a>
                    </div>
                    <div>
                        <img src="../../static/images/Bonus-Or-Troll-Package/Anime-Kohane-Cheer-You-Up.gif" alt="anime girl cheer you up" class="cheering-up-to-buy-gif">
                    </div>
                </div>
                <h4 style="color: var(--font-color); margin-top: -30px; font-family: BARABARA-FINAL; color: var(--font-harga-color);" >#INI MASIH TAHAP DEVELOPMENT</h4>
            </fieldset>
            <br>
        </div>
        
    </div>
    <!-- Content END -->
</body>
</html>