<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../../static/assets/script.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
    </style>
    <link rel="icon" href="../../static/images/prototype-logo/Favicon-Logo-KagayakuVerse-White-Black.png" type="image/png" class="iconnn">
    <title>KagayakuVerse | PUBG Mobile</title>
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav class="navbar">
            <a href="../../index.html" class="logo">
                <img src="../../static/images/prototype-logo/KagayakuVerse-Logo-Navbar-Main.png" alt="KagayakuVerse" height="70">
            </a>
            <ul class="content-navbar">
                <li>
                    <a href="../../index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="../reseller.html">Reseller</a>
                </li>
                <li>
                    <a href="../contact-me.html">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Navbar END -->

    <!-- Content Website -->    
    <div id="content-in-content">
        <aside class="">
            <div >
                <img src="../../static/images/PUBG-Mobile-Package/Aside-Banner-PUBG-Mobile.jpeg" alt="" class="aside-banner" width="430px" height="250px">
                <p style="font-weight: bold;">PUBG MOBILE</p>
            </div>
            <br>
            <p>KagayakuVerse menawarkan top up PUBG Mobile yang mudah, aman, dan instan.</p>

            <p>Pembayaran tersedia melalui GoPay, OVO, DANA, ShopeePay, dan Bank Transfer</p>

            <p>KagayakuVerse adalah sebuah platform e-commerce yang menyediakan berbagai produk pulsa, token listrik, dan kredit game untuk berbagai penyedia layanan sebagai kebutuhan sehari hari di Indonesia. <br> Dengan tampilan yang menarik dan navigasi yang mudah, KagayakuVerse memudahkan pengunjung untuk menemukan dan membeli pulsa dari berbagai operator dan TopUp berbagai game</p>
        </aside>
        <div class="main-content">
            <fieldset class="syarat">
                <legend class="angka">1</legend>
                <span class="syarat-judul">Masukkan UID</span> <br><br>
                <div class="syarat-ML">
                    <input type="number" name="idML" id="idML" placeholder="ID">

                    <!--  hover untuk tutorial melihat id dan server ml -->
                    <div class="tooltip-container">
                        <span class="tooltip">?</span>
                        <div class="tooltip-image">
                            <img src="../../static/images/PUBG-Mobile-Package/Tips-See-UID-PUBG-Mobile.png" alt="Tooltip Image">
                        </div>
                    </div>
                </div>
                <div class="syarat-caption-MLBB">
                    <figcaption class="">
                        <br>
                        Silakan masukkan User ID Anda untuk menyelesaikan transaksi.
                    </figcaption>
                </div>
               
            </fieldset>
            <br>
            <fieldset class="harga">
                <legend class="angka">2</legend>
                <div class="syarat-judul">Pilih Nominal </div> 
                <p class="special-items-text" style="margin-bottom: -20px;">Other</p>
                <div class="special-items"> 
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">Royale Pass</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/Royale-Pass-PUBG-Mobile.webp" alt="WDP" width="50" height="50" style="border-radius: 20px;">
                        <div class="harga-pulsa">Rp. 137,841</div> 
                    </div>
                    <div class="border-special-items">
                        <div class="nominal-pulsa">Royale Pass Pluss</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/Royale-Pass-PUBG-Mobile.webp" alt="WDP" width="50" height="50" style="border-radius: 20px;">
                        <div class="harga-pulsa">Rp. 355,773</div> 
                    </div>
                </div>
                <br>
                <p class="special-items-text">UC</p>
                <div class="card"> 
                    <div class="border-pulsa product-list-activate">
                        <div class="nominal-pulsa">16 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 6,505</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">26 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 7,084</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">35 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 13,057</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">50 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 13,990</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">73 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 19,810</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">105 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 25,235</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">131 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 31,295</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">150 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 31,822</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">210 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 44,738</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">221 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 51,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">263 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 58,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">300 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 64,072</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">350 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 70,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">375 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 78,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">525 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 109,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">600 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 125,024</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">700 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 137,019</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">825 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 162,111</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1000 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 194,859</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1250 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 247,325</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1750 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 324,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">2500 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 473,425</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">3500 UC</div>
                        <img class="logo-game" src="../../static/images/PUBG-Mobile-Package/UC-Cash-PUBG-Mobile.png" alt="mlbb-UC" width="50" height="50">
                        <div class="harga-pulsa">Rp. 654,625</div> 
                    </div>
                </div>
            </fieldset> 
            <br>
            <fieldset class="fieldset-method-payment">
                <legend class="angka">3</legend>
                <div class="syarat-judul">Metode Pembayaran</div> 
                <div class="payment-method-parent">
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Dana-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan DANA</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,200</p>
                            <p class="payment-method-child-price-discount">Rp. 6,505</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Gopay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan GOPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,200</p>
                            <p class="payment-method-child-price-discount">Rp. 6,505</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/shopeepay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SHOPEEPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,200</p>
                            <p class="payment-method-child-price-discount">Rp. 6,505</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/OVO-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan OVO</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,200</p>
                            <p class="payment-method-child-price-discount">Rp. 6,505</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/SeaBank-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SEABANK</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,200</p>
                            <p class="payment-method-child-price-discount">Rp. 6,505</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Bank-Transfer-Icons-Payment.png" alt="Pembayaran Dana" style="margin-top: -10px; margin-left: 10px;" width="100" height="90">
                            <p class="payment-method-child-description" style="margin-top: -20px;">beli dengan Transfer Bank</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,200</p>
                            <p class="payment-method-child-price-discount">Rp. 6,505</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset class="">
                <legend class="angka">4</legend>
                <div class="syarat-judul">Beli!</div>
                <p class="advice-to-get-invoice"><b style="color: var(--font-harga-color);">OPSIONAL</b> jika anda ingin mendaptkan invoice pembelian Masukkan email anda</p>
                <input type="email" name="buying-email" id="buying-email" placeholder="email anda">
                <label class="update-information-parent">
                    <input type="checkbox" name="name" id="update-information">
                    <div class="normal-plaintext" style="cursor: pointer;">setuju untuk menerima update dari KagayakuVerse</div> 
                </label>
                <br>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div class="normal-plaintext"><b>&bull;</b> 16 UC</div>
                        <div class="bigger-plaintext">Rp. 6,200</div>
                        <div class="little-plaintext-information">belum termasuk pajak</div>
                    </div>
                    <div class="button-buy">
                        <a href="">beli sekarang</a>
                    </div>
                    <div>
                        <img src="../../static/images/Bonus-Or-Troll-Package/Anime-Kohane-Cheer-You-Up.gif" alt="anime girl cheer you up" class="cheering-up-to-buy-gif">
                    </div>
                </div>
                <h4 style="color: var(--font-color); margin-top: -30px; font-family: BARABARA-FINAL; color: var(--font-harga-color);" >#INI MASIH TAHAP DEVELOPMENT</h4>
            </fieldset>
        </div>
        
    </div>
    <!-- Content END -->
</body>
</html>