<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../../static/assets/script.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
    </style>
    <link rel="icon" href="../../static/images/prototype-logo/Favicon-Logo-KagayakuVerse-White-Black.png" type="image/png" class="iconnn">
    <title>KagayakuVerse | Wuthering Waves</title>
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav class="navbar">
            <a href="../../index.html" class="logo">
                <img src="../../static/images/prototype-logo/KagayakuVerse-Logo-Navbar-Main.png" alt="KagayakuVerse" height="70">
            </a>
            <ul class="content-navbar">
                <li>
                    <a href="../../index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="../reseller.html">Reseller</a>
                </li>
                <li>
                    <a href="../contact-me.html">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Navbar END -->

    <!-- Content Website -->    
    <div id="content-in-content">
        <aside class="">
            <div >
                <img src="../../static/images/Wuthering-Wave-Package/Aside-Banner-Wuthering-Waves.jpg" alt="" class="aside-banner" width="430px" width="250px">
                <p style="font-weight: bold;">WUTHERING WAVES</p>
            </div>
            <br>
            <p>TopUp Wuthering Waves murah dan fast respon hanya di KagayakuVerse</p>

            <p>KagayakuVerse adalah sebuah platform e-commerce yang menyediakan berbagai produk pulsa, token listrik, dan kredit game untuk berbagai penyedia layanan sebagai kebutuhan sehari hari di Indonesia. <br> Dengan tampilan yang menarik dan navigasi yang mudah, KagayakuVerse memudahkan pengunjung untuk menemukan dan membeli pulsa dari berbagai operator dan TopUp berbagai game</p>
        </aside>
        <div class="main-content">
            <fieldset class="syarat">
                <legend class="angka">1</legend>
                <span class="syarat-judul">Masukkan Email Kuro Games dan Server</span> <br><br>
                <div class="syarat-ML">
                    <input type="email" name="idML" id="email-type" placeholder="Email Kuro">
                    <input list="option-server-genshin-impact" name="serverML" id="serverML" placeholder="Server" >
                    <datalist id="option-server-genshin-impact">
                        <option value="SEA">SEA Server</option>
                        <option value="Asia ">Asia Server</option>
                        <option value="America ">Amerika Server</option>
                        <option value="Europe ">Europe Server</option>
                        <option value="TW, HK, MO ">TW, HK, MO Server</option>
                    </datalist>
                    <!--  hover untuk tutorial melihat id dan server ml -->
                    <!-- <div class="tooltip-container">
                        <span class="tooltip">?</span>
                        <div class="tooltip-image">
                            <img src="../../static/images/Honkai-Star-Rail-Package/Tips-See-UID-Honkai-Star-Rail.png" alt="Tooltip Image">
                        </div>
                    </div> -->
                </div>
                <div class="syarat-caption-MLBB">
                    <figcaption class="">
                        <i style="color: red;">Pastikan kamu sudah bind account ke Kuro Games sebelum bertransaksi.</i> 
                        Silakan masukkan email kuro games Anda untuk menyelesaikan transaksi.
                    </figcaption>
                </div>
               
            </fieldset>
            <br>
            <fieldset class="harga">
                <legend class="angka">2</legend>
                <div class="syarat-judul">Pilih Nominal</div> 
                <p class="special-items-text" style="margin-bottom: -20px;">Other</p>
                <div class="special-items"> 
                    <div class="border-special-items ">
                        <div class="nominal-pulsa">Lunite Subscription</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Lunite-Subscription-Wuthering-Waves.webp" alt="Express Supply Pass" width="50" height="50" >
                        <div class="harga-pulsa">Rp. 70,500</div> 
                    </div>
                    <div class="border-special-items">
                        <div class="nominal-pulsa">Insider Channel Key</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Insider-Channel-Key-Wuthering-Waves.webp" alt="Express Supply Pass" width="50" height="50" >
                        <div class="harga-pulsa">Rp. 141,500</div> 
                    </div>
                    <div class="border-special-items">
                        <div class="nominal-pulsa">Connoisseur Channel Key</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Connoisseur-Channel-KeyWuthering-Waves.webp" alt="Express Supply Pass" width="50" height="50" >
                        <div class="harga-pulsa">Rp. 282,000</div> 
                    </div>
                </div>
                <br>
                <p class="special-items-text">Lunite</p>
                <div class="card"> 
                    <div class="border-pulsa product-list-activate">
                        <div class="nominal-pulsa">60 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 14,100</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">300 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 70,500</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">980 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 211,500</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">1980 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 423,200</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">3280 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 705,000</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">6480 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 1,410,000</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">6480 * 2 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 2,820,000</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">6480 * 3 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 4,230,000</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">6480 * 4 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 5,640,000</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">6480 * 5 Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/Item-Lunite-Wuthering-Waves.webp" alt="Lunite" width="50" height="50">
                        <div class="harga-pulsa">Rp. 7,050,000</div> 
                    </div>
                    <div class="border-pulsa">
                        <div class="nominal-pulsa">All Pack Lunite</div>
                        <img class="logo-game" src="../../static/images/Wuthering-Wave-Package/All-Pack-Lunite-Wuthering-Waves.jpg" alt="Lunite" width="50" height="50" style="border-radius: 20px;">
                        <div class="harga-pulsa">Rp. 2,834,100</div> 
                    </div>
                </div>
            </fieldset> 
            <br>
            <fieldset class="fieldset-method-payment">
                <legend class="angka">3</legend>
                <div class="syarat-judul">Metode Pembayaran</div> 
                <div class="payment-method-parent">
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Dana-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan DANA</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 13,300</p>
                            <p class="payment-method-child-price-discount">Rp. 14,100</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Gopay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan GOPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 13,300</p>
                            <p class="payment-method-child-price-discount">Rp. 14,100</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/shopeepay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SHOPEEPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 13,300</p>
                            <p class="payment-method-child-price-discount">Rp. 14,100</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/OVO-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan OVO</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 13,300</p>
                            <p class="payment-method-child-price-discount">Rp. 14,100</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/SeaBank-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SEABANK</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 13,300</p>
                            <p class="payment-method-child-price-discount">Rp. 14,100</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Bank-Transfer-Icons-Payment.png" alt="Pembayaran Dana" style="margin-top: -10px; margin-left: 10px;" width="100" height="90">
                            <p class="payment-method-child-description" style="margin-top: -20px;">beli dengan Transfer Bank</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 13,300</p>
                            <p class="payment-method-child-price-discount">Rp. 14,100</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset class="">
                <legend class="angka">4</legend>
                <div class="syarat-judul">Beli!</div>
                <p class="advice-to-get-invoice"><b style="color: var(--font-harga-color);">OPSIONAL</b> jika anda ingin mendaptkan invoice pembelian Masukkan email anda</p>
                <input type="email" name="buying-email" id="buying-email" placeholder="email anda">
                <label class="update-information-parent">
                    <input type="checkbox" name="name" id="update-information">
                    <div class="normal-plaintext" style="cursor: pointer;">setuju untuk menerima update dari KagayakuVerse</div> 
                </label>
                <br>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div class="normal-plaintext"><b>&bull;</b> 60 Lunite</div>
                        <div class="bigger-plaintext">Rp. 13,300</div>
                        <div class="little-plaintext-information">belum termasuk pajak</div>
                    </div>
                    <div class="button-buy">
                        <a href="">beli sekarang</a>
                    </div>
                    <div>
                        <img src="../../static/images/Bonus-Or-Troll-Package/Anime-Kohane-Cheer-You-Up.gif" alt="anime girl cheer you up" class="cheering-up-to-buy-gif">
                    </div>
                </div>
                <h4 style="color: var(--font-color); margin-top: -30px; font-family: BARABARA-FINAL; color: var(--font-harga-color);" >#INI MASIH TAHAP DEVELOPMENT</h4>
            </fieldset>
        </div>
        
    </div>
    <!-- Content END -->
</body>
</html>