<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="../static/images/prototype-logo/Favicon-Logo-KagayakuVerse-White-Black.png" type="image/png" class="iconnn">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>KagayakuVerse | Contact Me</title>
    <script src="../static/assets/script.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
        body {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin: auto;
    height: 100vh;
    margin: 0;
}
    </style>
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <a href="../index.html" class="logo">
                <img src="../static/images/prototype-logo/KagayakuVerse-Logo-Navbar-Main.png" alt="KagayakuVerse" height="70">
            </a>
            <ul class="content-navbar" >
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="reseller.html">Reseller</a>
                </li>
                <li>
                    <a href="contact-me.html" class="active">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Navbar END -->
    
    <!-- Content Website -->
    
    <div class="contact-container">
        <div class="contact-info">
            <h2>Contact Us</h2>
            <p><i class="fa fa-map-marker"></i>Tulungagung, Jawa Timur<br>66221</p>
            <p><i class="fa fa-envelope"></i>fahmiilham029@gmail.com</p>
            <p><i class="fa fa-phone"></i>+62 878 6040 7003</p>
            <p><i class="fa fa-fax"></i>+62 856 4674 5887</p>
        </div>
        <div class="contact-form">
            <h2>Hubungi Kami</h2>
            <p>Jangan ragu untuk mengirim pesan kepada kami di bawah ini!</p>
            <form>
                <input type="text" placeholder="Your Name" required>
                <input type="email" placeholder="Your Email" required>
                <textarea placeholder="Typing your message here..." rows="5" required></textarea>
                <button type="submit">SEND</button>
            </form>
        </div>
    </div>
    
    
    <!-- Content Website end -->


    <!-- Footer -->
    <div class="container-footer" style="margin-top: 120px">
        <b style="display: flex;">Copyright &copy;<span id="kopi-kanan">&nbsp;2023</span> <div style="color: rgb(72, 218, 182);">&nbsp; Kagayaku Store</div></b>. Fahmi Ilham Bagaskara 
    </div>
    <!-- Footer END -->
</body>
</html>