<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" href="../static/images/prototype-logo/Favicon-Logo-KagayakuVerse-White-Black.png" type="image/png" class="iconnn">
    <title>KagayakuVerse | Contact Me</title>
    <script src="../static/assets/script.js"></script>
</head>
<body >
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <a href="../index.html" class="logo">
                <img src="../static/images/prototype-logo/KagayakuVerse-Logo-Navbar-Main.png" alt="KagayakuVerse" height="70">
            </a>
            <ul class="content-navbar" >
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="reseller.html" class="active">Reseller</a>
                </li>
                <li>
                    <a href="contact-me.html">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Navbar END -->
    
    <!-- Content Website -->

    <div class="main-reseller-content">
        <div class="section-main-reseller" >
            <div class="section-main-reseller-left">
                <div class="section-main-reseller-left-title">
                    Jadi Reseller Top Up Game Termurah Bersama KagayakuVerse yang mana dijamin aman terpercaya 
                </div>
                <br><br>
                <div class="section-main-reseller-left-caption">
                    Gabung jadi reseller untuk promosikan produk yang ada di KagayakuVerse dan terima keuntungan tiap berhasil menjual.
                </div>
            </div>
            <div class="section-main-reseller-right">
                <img src="../static/images/Reseller-Package/Laptop-KagayakuVerse-removeBG.png" alt="Laptop-KagayakuVerse" class="image-laptop-reseller" width="400px">
            </div>
        </div>

        <div class="section-second-reseller">
            <div class="section-second-reseller-title">
                <p align="center" style="font-family: BARABARA-FINAL; font-weight: bold; font-size: 20px; text-transform: uppercase;">Keuntungan menjadi reseller</p>
            </div>
            <div class="section-second-reseller-image-content">
                <div>
                    <img src="../static/images/Reseller-Package/Diskon-Harga-Reseller.webp" alt="diskon tag" width="100px" height="100px">
                    <div class="section-second-reseller-text-content-title">Harga Lebih Murah</div>
                    <div class="section-second-reseller-text-content-description">harga produk terbaik untuk dijual ke pelanggan</div>    
                </div>
                <div>
                    <img src="../static/images/Reseller-Package/Jempol-Reseller.webp" alt="Banyak Produk" width="100px" height="100px">
                    <div class="section-second-reseller-text-content-title">Banyak Produk tersedia</div>
                    <div class="section-second-reseller-text-content-description">Bisa jualan produk exclusive lainnya</div>    
                </div>
                <div>
                    <img src="../static/images/Reseller-Package/Bantuan-24-Hour-Reseller.webp" alt="Layanan bersahabat" width="100px" height="100px">
                    <div class="section-second-reseller-text-content-title">Bantuan 24 Jam</div>
                    <div class="section-second-reseller-text-content-description">Layanan kapan saja untuk kendala yang dialami</div>    
                </div>
            </div>
        </div>

        <div class="section-third-reseller">
            <div class="section-third-reseller-content">
                <div class="section-third-reseller-content-left">
                    <img src="../static/images/Reseller-Package/Icon-White-Whatsapp-Reseller.webp" alt="" width="100px" height="100px">
                    <div class="section-third-reseller-content-left-text">
                        <div class="section-third-reseller-content-left-text-title">
                            Mau cari info lebih lengkap soal Reseller?
                        </div>
                        <div class="section-third-reseller-content-left-text-description">
                            Kamu bisa cari tahu daftar harga dan info lainnya via WhatsApp
                        </div>
                    </div>
                </div>
                <a href="https://api.whatsapp.com/send?phone=083119976611&amp;text=Hallo admin KagayakuVerse, aku mau tanya" target="_blank">
                    <div class="button-hubungi-kami">Hubungi Kami</div>
                </a>
            </div>
        </div>

        <div class="section-forth-reseller">
            <div align="center" class="section-forth-reseller-title">Semua produk di KagayakuVerse bisa kamu jual</div>
            <div class="section-forth-reseller-icon-list">
                <img src="../static/images/all-loby-icons/Arena-Of-Valor-AOV-icons-home.png" alt="aov" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Mobile-Legend-icons-loby.jpg" alt="mlbb" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Honor-Of-King-HOK-icons-home.png" alt="hok" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Genshin-Impact-icons-home.png" alt="genshin" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Honkai-Star-Rail-icons-home.jpg" alt="hsr" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Honkai-Impact_icons-home.jpeg" alt="honkai impact" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Point-Blank-icons-home.jpeg" alt="pb" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Unipin-Point-icons-home.png" alt="unipin" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Valorant-icons-home-.webp" alt="valo" width="80px" height="80px">
                <img src="../static/images/all-loby-icons/Google-Play-Gift-Card-icons-home.png" alt="voucher gplay" width="80px" height="80px">
            </div>
            <div class="section-forth-reseller-description">
                dan masih banyak lagi
            </div>
        </div>

        <div class="section-final-reseller">
            <div class="section-final-reseller-content">
                <div class="section-final-reseller-content-text">
                    <div class="section-final-reseller-content-text-title">Yuk, gabung jadi Reseller KagayakuVerse!</div>
                    <div class="section-final-reseller-content-text-description">Jualan tanpa ribet, dapat keuntungan puluhan bitcoin tanpa fanum tax.</div>
                </div>
                <a href="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmRsODE4dThsYXk3ZGR6dmx5dnZoa2djcHB0cWloN3Y0OG10ejJoNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/pUAd6teEDEcQmn03Km/giphy.webp">
                    <div class="button-daftar-sekarang">DAFTAR SEKARANG</div>
                </a>
            </div>
        </div>
        
        <div class="container-footer">
            <b style="display: flex;">Copyright &copy;<span id="kopi-kanan">&nbsp;2023</span> <div style="color: rgb(72, 218, 182);">&nbsp; Kagayaku Store</div></b>. Fahmi Ilham Bagaskara 
        </div>
    </div>

    
    <!-- Content Website end -->


    <!-- Footer -->
    
    <!-- Footer END -->

</body>
</html>