<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script src="../../static/assets/script.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
    </style>
    <link rel="icon" href="../../static/images/prototype-logo/Favicon-Logo-KagayakuVerse-White-Black.png" type="image/png" class="iconnn">
    <title>KagayakuVerse | Indosat</title>
</head>
<body>
    <!-- NAVBAR -->
    <header>
        <nav class="navbar">
            <a href="../../index.html" class="logo">
                <img src="../../static/images/prototype-logo/KagayakuVerse-Logo-Navbar-Main.png" alt="KagayakuVerse" height="70">
            </a>
            <ul class="content-navbar">
                <li>
                    <a href="../../index.html" class="active">Home</a>
                </li>
                <li>
                    <a href="../reseller.html">Reseller</a>
                </li>
                <li>
                    <a href="../contact-me.html">Contact Me</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- Navbar END -->

    <!-- Content Website -->    
    <div id="content-in-content">
        <aside class="">
            <div >
                <img src="../../static/images/Pulsa-All-Operator-Package/Banner-Pulsa-And-All-Tagihan-Kagayaku-Verse.png" alt="" class="aside-banner" width="420px" height="200px">
                <p style="font-weight: bold;">PULSA INDOSAT</p>
            </div>
            <br>
            <p>KagayakuVerse menawarkan pembelian pulsa dan paket data(lewat whatsapp) yang mudah, aman, dan instan.</p>

            <p>Pembayaran tersedia melalui GoPay, OVO, DANA, ShopeePay, dan Bank Transfer</p>

            <p>KagayakuVerse adalah sebuah platform e-commerce yang menyediakan berbagai produk pulsa, token listrik, dan kredit game untuk berbagai penyedia layanan sebagai kebutuhan sehari hari di Indonesia. <br> Dengan tampilan yang menarik dan navigasi yang mudah, KagayakuVerse memudahkan pengunjung untuk menemukan dan membeli pulsa dari berbagai operator dan TopUp berbagai game</p>
        </aside>
        <div class="main-content">
            <fieldset class="syarat">
                <legend class="angka">1</legend>
                <span class="syarat-judul">Masukkan Nomor HP Anda</span> <br><br>
                <input type="" name="nomor-hp" id="nomor-hp" value="+62 " >
                <div class="syarat-caption-MLBB">
                    <figcaption class="">
                        <br>
                        Silakan masukkan nomor handphone "sesuai operator" yang Anda pakai untuk menyelesaikan transaksi
                    </figcaption>
                </div>
            </fieldset>
            <br>
            <fieldset class="harga">
                <legend class="angka">2</legend>
                <div class="syarat-judul">Pilih Nominal Pulsa</div> <br> <br>
                <div class="card">
                    <div class="border-pulsa product-list-activate" >
                        <div class="nominal-pulsa">5000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 7000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">10,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 12,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">15,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 16,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">20,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 21,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">25,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 26,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">30,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 31,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">35,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 36,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">40,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 41,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">45,000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 46,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">50.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 51,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">55.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 56,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">60.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 61,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">65.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 66,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">70.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 71,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">75.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 76,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">80.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 81,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">85.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 86,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">90.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 91,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">95.000 PULSA</div>
                        <object data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 96,000</div> 
                    </div>
                    <div class="border-pulsa" >
                        <div class="nominal-pulsa">100.000 PULSA</div>
                        <object align="center" data="../../static/images/Pulsa-All-Operator-Package/Indosat-Ooredoo-Logo-Product-Price.svg" type="image/svg+xml" width="50" height="50">
                            Gambar tidak dapat ditampilkan.
                        </object>
                        <div class="harga-pulsa">Rp. 100,000</div> 
                    </div>
                </div>
            </fieldset> 
            <br>
            <fieldset class="fieldset-method-payment">
                <legend class="angka">3</legend>
                <div class="syarat-judul">Metode Pembayaran</div> 
                <div class="payment-method-parent">
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Dana-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan DANA</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,500</p>
                            <p class="payment-method-child-price-discount">Rp. 7,000</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Gopay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan GOPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,500</p>
                            <p class="payment-method-child-price-discount">Rp. 7,000</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/shopeepay-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SHOPEEPAY</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,500</p>
                            <p class="payment-method-child-price-discount">Rp. 7,000</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/OVO-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan OVO</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,500</p>
                            <p class="payment-method-child-price-discount">Rp. 7,000</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/SeaBank-Icons-Payment.png" alt="Pembayaran Dana" class="payment-method-icon">
                            <p class="payment-method-child-description">beli dengan SEABANK</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,500</p>
                            <p class="payment-method-child-price-discount">Rp. 7,000</p>
                        </div>
                    </div>
                    <div class="payment-method-child">
                        <div class="payment-method-child-1">
                            <img src="../../static/images/Payments-Method-Package/Bank-Transfer-Icons-Payment.png" alt="Pembayaran Dana" style="margin-top: -10px; margin-left: 10px;" width="100" height="90">
                            <p class="payment-method-child-description" style="margin-top: -20px;">beli dengan Transfer Bank</p>
                        </div>
                        <div class="payment-method-child-2">
                            <p class="payment-method-child-price-after-discount">Rp. 6,500</p>
                            <p class="payment-method-child-price-discount">Rp. 7,000</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br>
            <fieldset class="">
                <legend class="angka">4</legend>
                <div class="syarat-judul">Beli!</div>
                <p class="advice-to-get-invoice"><b style="color: var(--font-harga-color);">OPSIONAL</b> jika anda ingin mendaptkan invoice pembelian Masukkan email anda</p>
                <input type="email" name="buying-email" id="buying-email" placeholder="email anda">
                <label class="update-information-parent">
                    <input type="checkbox" name="name" id="update-information">
                    <div class="normal-plaintext" style="cursor: pointer;">setuju untuk menerima update dari KagayakuVerse</div> 
                </label>
                <br>
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <div class="normal-plaintext"><b>&bull;</b> 5000 Pulsa INDOSAT</div>
                        <div class="bigger-plaintext">Rp. 6,500</div>
                        <div class="little-plaintext-information">belum termasuk pajak</div>
                    </div>
                    <div class="button-buy">
                        <a href="">beli sekarang</a>
                    </div>
                    <div>
                        <img src="../../static/images/Bonus-Or-Troll-Package/Anime-Kohane-Cheer-You-Up.gif" alt="anime girl cheer you up" class="cheering-up-to-buy-gif">
                    </div>
                </div>
                <h4 style="color: var(--font-color); margin-top: -30px; font-family: BARABARA-FINAL; color: var(--font-harga-color);" >#INI MASIH TAHAP DEVELOPMENT</h4>
            </fieldset>
            <br>
        </div>
        
    </div>
    <!-- Content END -->
</body>
</html>